/* div{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

p{
    text-align: justify;
}

img{
    float: right;
} */





div ~ p{
    background-color: yellow;
}